<!DOCTYPE html>
 <html>
   <head>
     <title></title>
     <link rel="stylesheet" type="text/css" href="css/styles.css" />
     <link rel="stylesheet" type="text/css" href="/css/styles.css" />
   </head>
   <body>
   <!-- <h2>Individual Page</h2> -->


     <div id="individual-entry">

    <a href="/users/{{username}}">
      <div class="robotBox">
        <img class="robotAvatar" src="{{avatar}}" alt="">
        <h6>{{name}}</h6>
        {{#job}}
        <p>{{address.city}} {{address.country}} | {{job}}, {{company}}</p>
        {{/job}}
        {{^job}}
        <span><p>{{address.city}} {{address.country}} | <p class ="a">Available for Hire</p></span>
        {{/job}}
      </div></a>
      <p>{{email}} | {{phone}}</p>
      <p>Education:</p>
      {{#university}}
      <p>{{.}}</p>
      {{/university}}
      <p>Skills</p>
      {{#skills}}
        <li>{{.}}</li>
      {{/skills}}
      <br>
      <a href="/users/">Back to Robot Directory</a>

  </div>
   </body>
 </html>
