<!DOCTYPE html>
 <html>
   <head>
     <title></title>
     <link rel="stylesheet" type="text/css" href="css/styles.css" />
     <link rel="stylesheet" type="text/css" href="/css/styles.css" />
   </head>
   <body>
   <!-- <h2>Individual Page</h2> -->
     <div id="individual-entry">
    <a href="/users/{{username}}">
      <div class="robotBoxIndividual">
        <img class="robotAvatarCircle" src="{{avatar}}" alt="">
        <div class="individualTop">
        <h5>{{name}}</h5>
        <div class="allButName">
        {{#job}}
        <p>{{address.city}} {{address.country}} | {{job}}, {{company}}</p>
        {{/job}}
        {{^job}}
        <p>{{address.city}} {{address.country}} | <p class ="a">Available for Hire</p>
        {{/job}}
      </div></a>
      <p>{{email}} | {{phone}}</p>
         </div>
     </div>
    </div></a>

   <div class="bottomBox">
     <div class="leftBox">
      <p>Education</p>
      <p>Skills</p>
    </div>
    <div class="rightBox">
      <br />
      {{#university}}
      <p class="edu">{{.}}</p>
      {{/university}}
      {{#skills}}
        <ul>{{.}}</ul>
      {{/skills}}
    </div>
  </div>

      <br>
      <a href="/users/">Back to Robot Directory</a>
  </div>

   </body>
 </html>
